{% extends "bootstrap/base.html" %}

{% block title %}cvrminer{% endblock %}

{% block head %}
{{super()}}

<link rel="stylesheet" type="text/css" href="/static/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/cvrminer/static/jquery.dataTables.min.css">

{% endblock %}



{% block scripts %}
{{super()}}

<script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/cvrminer/static/jquery-3.2.1.min.js"></script>

<script src="/static/jquery.dataTables.min.js"></script>
<script src="/cvrminer/static/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="/static/cvrminer.js"></script>
<script type="text/javascript" src="/cvrminer/static/cvrminer.js"></script>


<script type="text/javascript" charset="utf8">
$(document).ready( function () {
    $('.dataframe').DataTable();
} );
</script>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-static-top">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/">cvrminer</a></li>
    <li role="presentation"><a href="{{ url_for('app.show_person_empty') }}">Person</a></li>
    <li role="presentation"><a href="{{ url_for('app.show_company_empty') }}">Company</a></li>
    <li role="presentation"><a href="{{ url_for('app.show_branch_empty') }}">Branch</a></li>
    <li role="presentation"><a href="{{ url_for('app.show_exchange_empty') }}">Exchange</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>

  <div class="container">
    <hr>
     Data from <a href="https://www.wikidata.org">Wikidata</a>,
    <a href="https://en.wikipedia.org">English Wikipedia</a> and
    <a href="https://erhvervsstyrelsen.dk/">Erhvervsstyrelsen</a>
    |
    Code from 
    <a href="https://github.com/fnielsen/cvrminer">GitHub repository</a>.
  </div>
{% endblock %}

