{% extends "bootstrap/base.html" %}

{% block title %}cvrminer{% endblock %}

{% block scripts %}
{{super()}}

<link rel="stylesheet" type="text/css"
      href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8"
      src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf8">
$(document).ready( function () {
    $('.dataframe').DataTable();
} );
</script>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-static-top">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">cvrminer</a></li>
    <li role="presentation"><a href="company/">Company</a></li>
    <li role="presentation"><a href="branch/">Branch</a></li>
    <li role="presentation"><a href="exchange/">Exchange</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>

  <div class="container">
    <hr>
     Data from <a href="https://www.wikidata.org">Wikidata</a>,
    <a href="https://en.wikipedia.org">English Wikipedia</a> and
    <a href="https://erhvervsstyrelsen.dk/">Erhvervsstyrelsen</a>
    |
    Code from 
    <a href="https://github.com/fnielsen/cvrminer">GitHub repository</a>.
  </div>
{% endblock %}

