{% extends "branch_base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
  listOfCompaniesSparql = `
SELECT ?company ?companyLabel ?country ?countryLabel
WITH {
  SELECT ?company ?country WHERE {
    ?company wdt:P452/wdt:P279* wd:{{ q }} .
    OPTIONAL { ?company wdt:P17 ?country . }
  }
} AS %result
WHERE {
  INCLUDE %result
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,fr,jp,nl,no,pl,ru,sv,zh". }
}
ORDER BY ?companyLabel
 `

 
 $(document).ready(function() {
   console.log('In ready')
   sparqlToDataTable(listOfCompaniesSparql, "#list-of-companies");
   console.log('Back from function');
  });
</script>

{% endblock %}




{% block page_content %}


<h1 id="h1">Branch</h1>


<h2>Companies within the branch</h2>

<table class="table table-hover" id="list-of-companies"></table>



{% endblock %}
